@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,900&display=swap');
/* UTILITIES */
*{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(120deg, #343330 20%, #7E5920 100%);
    min-height: 100vh;
}

li{
    list-style: none;
}

::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-track{
    background-color: #FFA737;
    border-radius: 100vw;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 100vw;
    border: 0.2rem solid #FFA737;
}
/* HEADER SECTION */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
header .profile-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 2px rgba(85, 84, 84, 0.811);
    border-radius: 100%;
}
header .profile-container img{
    width: 100%;
    height: 100%;
   
}
header input{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: initial;
    font-size: 1.5rem;
    text-align: center;
    margin-top: .5rem;
    font-weight: bold;
}



/* MAIN SECTION */
.main-content{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
}

.main-content .todo-category{
    flex-basis: 30%;
}
.main-content .todo-task{
    flex-basis: 500px;
}

.main-content .todo-category form{
    display: flex;
    margin-bottom: 2rem;
}
.main-content .todo-category form input{
    width: 350px;
    color: black;
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 2px rgba(85, 84, 84, 0.811);
    border-radius: 20px;
    text-align: center;
    
}
.main-content .todo-category form .todo-button{
    padding: 0.5rem;
    background-color:  rgb(11, 212, 162);
    border: solid 2px rgba(85, 84, 84, 0.811);
    border-radius: 100%;
    
}
.main-content .todo-category form .todo-button i{
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
}

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.main-content .todo-category .todo-list .todos{
    height: 180px;
    width: 395px;
    overflow-y: scroll;
    background-color: #7e582070;
    padding: .5rem;
    border-radius: 20px;
}

.main-content .todo-category .todo-list .todos .todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA737;
    border: solid 2px rgba(85, 84, 84, 0.811);
    border-radius: 20px;
    overflow: hidden;
    width: 360px;
    
}
.main-content .todo-category .todo-list .todos .todo-item:nth-last-child(1){
    transition: all .3s ease;
    transform-origin: 50% 0;
	animation: append-animate .3s linear;
}
.main-content .todo-category .todo-list .todos .todo-item .todo{
    flex: 1;
    margin: .5rem;
    text-align: center;
}
.main-content .todo-category .todo-list .todos .todo-item .todo input{
    appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
    text-align: center;
}
.main-content .todo-category .todo-list .todos .todo-item .todo input:focus{
    background: #c7852f;
}



.main-content .todo-task{
    
    margin-top: 1rem;
    height: 285px;
    overflow-y: scroll;
    background-color: #7e582070;
    padding: .5rem;
    border-radius: 20px;
}
.main-content .todo-task{
    text-align: center;
}

.main-content .todo-task .tasks .task-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA737;
    border: solid 2px rgba(85, 84, 84, 0.811);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.main-content .todo-task .tasks .task-item .task-name input{
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    
}

.main-content .todo-task  .tasks .task-item:nth-last-child(1){
    transition: all .3s ease;
    transform-origin: 50% 0;
	animation: append-animate .3s linear;
}
.main-content .todo-task .tasks .task-item .task-name{
    flex: 1;
    margin: .5rem;
    text-align: center;
}
.main-content .todo-task  .tasks .task-item .task-name input{
    appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
    text-align: center;
}
.main-content .todo-task .tasks .task-item .task-name input:focus{
    background: #c7852f;
}




/* BUTTONS */
.fa-circle-plus, .todo-input{
    color: black;
} 
.trash-btn,
.edit-btn {
  background: rgb(252, 61, 61);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn,
.edit-btn {
  background: rgb(252, 61, 61);
  color: white;
  border: none;
  padding: .5rem;
  cursor: pointer;
  font-size: 1rem;
}
.edit-btn {
  background: rgb(11, 212, 162);
}
.edit-btn:hover{
    background: rgb(11, 225, 171);
}
.trash-btn:hover{
    background: rgb(248, 20, 20);
}
.fa-trash,
.fa-check {
    pointer-events: none;
}