@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
body{
    background-color: #B2967D;
    min-height: 100vh;
}
li{
    list-style: none;
}
main,
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.todo-item{
    display: flex;
}

.fa-circle-plus{
    color: black;
}